# DAGSTER
dagster
dagit
dagster-postgres
dagster-slack
# AIRFLOW
apache-airflow
apache-airflow-providers-slack==6.0.0
prefect==2.3.2
minio 
nats-py 
pandas
numpy
pytz
SQLAlchemy
pyarrow
geopandas
GeoAlchemy2
mlflow
torch
pytorch-lightning
scikit-learn